<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ptl.Device.Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <startup>
        <supportedRuntime version="v2.0.50727"/>
        <supportedRuntime version="v4.0"/>
    </startup>

    <userSettings>
        <Ptl.Device.Example.Properties.Settings>
            <setting name="ProjectFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchSetAddressTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BusinessShelfRowsCount" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BusinessShelfColumnsCount" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BusinessUseScanner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BusinessOrderCode" serializeAs="String">
                <value>OrderCode001</value>
            </setting>
            <setting name="BusinessRatioSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XGateEditIP" serializeAs="String">
                <value>192.168.0.10</value>
            </setting>
            <setting name="XGateEditPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="XGateEditBusCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PtlDeviceBatchAddFromAddress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PtlDeviceBatchAddToAddress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LoadTestContentSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadTestTimesSelectedIndex" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="PtlDeviceBatchAddMajorTypeSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PtlDeviceBatchAddMinorTypeSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XGateEditMapAddressSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadTestLightSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XConverterSerialPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="XGateConfigNetworkAdapterName" serializeAs="String">
                <value />
            </setting>
            <setting name="LogHoldDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="BusinessUseMulticastFinisher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatchSetAddressDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XGateConfigWifiIP" serializeAs="String">
                <value>192.168.0.10</value>
            </setting>
            <setting name="WifiXGateConfigSsid" serializeAs="String">
                <value />
            </setting>
            <setting name="WifiXGateConfigSubnetMask" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="WifiXGateConfigGateway" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="LoadTestGapSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WifiXGateConfigConnectTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WifiXGateConfigConnectedDelay" serializeAs="String">
                <value>1</value>
            </setting>
        </Ptl.Device.Example.Properties.Settings>
    </userSettings>
</configuration>